@media screen {
  body {
    background-color: var(--background-body);
    color: var(--foreground-body);
  }

  a,
  a:visited {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s var(--ease-out-quint);
  }

  a:hover {
    color: var(--accent-primary);
    transition: initial;
  }

  .caption {
    color: var(--foreground-muted);
    margin-bottom: 0.8em;
    line-height: 1.2em;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    @media (max-width: 420px) {
      & {
        font-size: 0.8em;
      }
    }
  }
}
