@font-face {
  font-family: 'TwentyTwelve';
  src: url('../fonts/twenty-twelves.woff') format('woff');
}
@media screen {
  body {
    font-size: 1.25rem;
    font-family: 'TwentyTwelve', sans-serif;
    font-feature-settings: 'ss01' on;
  }
}
