@media print {
  @page {
    size: A4;
    margin: 1.5cm;
  }
  body {
    --print-foreground-muted: #808080;
    --print-foreground-ghost: #ccc;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 12pt;
  }
  a,
  a:visited {
    color: inherit;
    text-decoration: none;
  }
  .main-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 0.8cm;
  }
  .main-header__logo {
    font-size: 24pt;
  }
  .main-header-nav__telegram {
    margin-right: 16pt;
    white-space: nowrap;
    &::after {
      content: ': @kryukovdesign';
      white-space: nowrap;
    }
  }
  .main-header-nav__email--big-screen {
    white-space: nowrap;
  }
  .main-header-nav__email--small-screen {
    display: none;
  }
  .promo {
    margin-bottom: 1cm;
  }
  .promo__title {
    font-size: 24pt;
    line-height: 28pt;
    color: var(--print-foreground-muted);
  }
  .info {
    display: flex;
    flex-direction: column;
    font-size: 14pt;
    gap: 1cm;
  }
  .caption {
    color: var(--print-foreground-muted);
    border-bottom: 1px solid #ccc;
    padding-bottom: 8pt;
    margin-bottom: 12pt;
  }
  .info-skills-set {
    display: flex;
    flex-wrap: wrap;
    gap: 8pt;
  }
  .info-skills__item {
    padding: 15pt 16pt 17pt;
    border-radius: 100px;
    border: 1pt solid var(--print-foreground-ghost);
    transform: initial !important;
  }
  .info-group {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 8pt;
  }
  .info-group__caption,
  .info-group__text {
    line-height: 18pt;
  }
  .projects,
  .main-footer {
    display: none;
  }
}
