:root {
  --background-body: #000;
  --background-card: #131313;

  --foreground-body: #f2f2f2;
  --foreground-muted: #616161;

  --accent-primary: #deceab;
  --accent-secoundary: #ffe5f2;

  --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
}
