@media screen {
  .main-footer {
    grid-area: footer;
    display: flex;
    gap: var(--nav-gap);
    padding: 2.7em 0 3.25em;
    color: var(--foreground-muted);
    @media (max-width: 500px) {
      justify-content: space-between;
    }
  }
}
