@media screen {
  .main-header {
    --nav-gap: 1.875rem;
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0.75em 0 1.5em;

    @media (max-width: 800px) {
      --nav-gap: 1rem;
    }

    @media (max-width: 500px) {
      & {
        --nav-gap: 0.25rem;
        padding-bottom: 0;
      }
    }
  }

  .main-header__logo {
    display: flex;
    font-size: 2rem;
    line-height: 1em;
    white-space: nowrap;
    gap: 0.5rem;
    @media (max-width: 800px) {
      & {
        margin-right: var(--nav-gap);
      }
    }

    @media (max-width: 500px) {
      & {
        font-size: 1.25rem;
      }
    }
  }
  .main-header__photo-wrapper {
    height: 1em;
  }
  .main-header__photo {
    border-radius: 50%;
    width: 1.125em;
    height: 1.125em;
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    @media (max-width: 500px) {
      width: 1.5em;
      height: 1.5em;
      margin-top: -0.25em;
    }
  }
  .main-header-nav {
    display: flex;
    gap: var(--nav-gap);
    margin-top: 0.25em;

    @media (max-width: 800px) {
      & {
        justify-self: end;
      }
    }

    @media (max-width: 500px) {
      & {
        flex-direction: column;
        margin-top: 0;
      }
    }
  }

  .main-header-nav__email--small-screen {
    display: none;
  }

  @media (max-width: 800px) {
    .main-header-nav__email {
      &--big-screen {
        display: none;
      }

      &--small-screen {
        display: initial;
      }
    }
  }
}
