@media screen {
  .projects {
    --grid-gap: 8px;
    grid-area: projects;
  }
  .projects-column {
    display: flex;
    flex-direction: column;
    gap: var(--grid-gap);
  }
  .project-row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 8px;
  }

  .project--wide {
    padding-bottom: 6rem;
    grid-column: span 6;
    .project-image {
      position: relative;
      height: clamp(360px, calc(49.63vw - 1rem), 953px);
      background-color: var(--background-card);
      overflow: hidden;
      @media (max-width: 800px) {
        height: calc(100vw - 80px);
      }
      &__layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        image-rendering: crisp-edges;
        image-rendering: -webkit-optimize-contrast;
      }
      & > * {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  .project--medium,
  .project--small {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background-color: var(--background-card);
    padding: 16px 16px 28px;

    .project-image {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
    .project-image__outer {
      background-color: #212121;
      width: 80%;
      border-radius: 4px;
      overflow: hidden;
      transform: rotate(-1deg);
      @media (max-width: 1500px) {
        width: 85%;
      }
      @media (max-width: 1024px) {
        width: 90%;
      }
      @media (max-width: 500px) {
        width: 100%;
      }
    }
    .project-image__inner {
      position: relative;
      padding-bottom: 56.25%;
      .project-image__absolute {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  .project--medium {
    grid-column: span 3;
    height: clamp(720px, calc(100vh - 1rem), 953px);
    @media (max-width: 1850px) {
      height: clamp(500px, calc(50vw - 1rem), calc(100vh - 1rem));
    }
    @media (max-width: 1024px) {
      height: clamp(320px, calc(50vw - 1rem), calc(100vh - 1rem));
    }
    @media (max-width: 800px) {
      .project-description {
        display: none;
      }
    }
    @media (max-width: 500px) {
      grid-column: span 6;
      height: clamp(400px, calc(50vw - 1rem), calc(100vh - 1rem));
      .project-description {
        display: initial;
      }
    }
  }
  .project--small {
    grid-column: span 2;
    height: 640px;
    @media (max-width: 1500px) {
      grid-column: span 3;
      height: clamp(500px, calc(50vw - 1rem), calc(100vh - 1rem));
    }
    @media (max-width: 1024px) {
      height: clamp(320px, calc(50vw - 1rem), calc(100vh - 1rem));
    }
    @media (max-width: 800px) {
      .project-description {
        display: none;
      }
    }
    @media (max-width: 500px) {
      grid-column: span 6;
      height: clamp(400px, calc(50vw - 1rem), calc(100vh - 1rem));
      .project-description {
        display: initial;
      }
    }
  }

  .project-cell {
    grid-column: span 2;
    padding: 16px 16px 28px;
    @media (max-width: 1500px) {
      grid-column: span 6;
      padding: 1.5rem 0 6rem;
      order: -1;
    }
  }
  .project-link {
    width: 100%;
  }

  //Проектная типографика
  .project-title {
    font-size: 48px;
    margin-top: 0.25em;
    margin-bottom: 0.33em;
    @media (max-width: 500px) {
      font-size: clamp(1.25rem, 8vw, 2rem);
    }
  }
  .project-name {
    font-size: 28px;
    margin-bottom: 0.33em;
    @media (max-width: 800px) {
      font-size: 20px;
    }
    @media (max-width: 500px) {
      font-size: 28px;
    }
  }
  .project-lead {
    font-size: 28px;
    @media (max-width: 800px) {
      font-size: 1em;
      line-height: 1.2em;
    }
  }
  .project-description {
    font-size: 1em;
    line-height: 1.2em;
    p {
      margin-bottom: 1em;
      line-height: 1.3em;
    }
    .project-description--autosphere:after {
      content: '';
      display: inline-block;
      width: 72px;
      height: 50px;
      margin-left: 8px;
      margin-top: -100%;
      margin-bottom: -18px;
      background: url('/images/opt/projects/showreel.gif')
        var(--background-card);
      background-size: cover;
      border-radius: 4px;
      transform: rotate(-5deg);
      @media (max-width: 500px) {
        display: block;
        margin-top: 0.5em;
        margin-left: 0;
        margin-bottom: 0;
      }
    }
  }
  @import '../projects/cartone';
  @import '../projects/meduza';
  @import '../projects/kit';
}
