.main-header {
    background-color: red;
}
.promo {
    background-color: yellow;
}
.skills, .works, .studies{
    background-color:green;
}
.projects {
    background-color: pink;
}
.main-footer {
    background-color: cyan;
}