@media screen {
    .project--dep {
        grid-area: projects;
        position: relative;
        height: 680px;
        background-color: var(--background-card);
        overflow: hidden;

        @media (max-width: 500px) {
                height: 320px;
                pointer-events: none;
        }

        @media (pointer: fine) {
            &:hover {
                .project-layer--dep--idle {
                    opacity: 0;
                    transition: opacity 0.6s var(--ease-out-quint);
                    pointer-events: none;
                }

                .project-layer--dep--idle__typo {
                    transform: scale(1.2);
                    transition: transform 1.6s var(--ease-out-quint);
                }

                .project-layer--dep--hover__sun-wrapper {
                    transform: scale(1);
                }
            }
        }
    }

    .project-layer--dep {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--background-card);
    }

    .project-layer--dep--idle {
        transition: opacity 0.6s var(--ease-out-quint);
        z-index: 10;
    }

    .project-layer--dep--idle__typo {
        transition: transform 0.6s var(--ease-out-quint);
        width: clamp(10px, 80vw, 1080px);
    }

    .project-layer--dep--hover__sun-wrapper {
        transform: scale(0.8);
        transition: transform 0.6s var(--ease-out-quint);
        pointer-events: none;
    }

    .project-layer--dep--hover__sun {
        --sun-size: min(80vw, 438px) width: var(--sun-size);
        height: min(80vw, 438px);
        animation: sun-rotate 3s linear infinite;

        @keyframes sun-rotate {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }
    }

    .project-layer--dep--hover-hand {
        --blur: 20px;
        z-index: 5;
        pointer-events: none;
    }

    .project-layer--dep--hover-hand-left {
        --x-position: 20%;
        --y-position: calc(50% - 128px);
        --rotation: 0;
        left: var(--x-position);
        top: var(--y-position);
        transform: rotate(var(--rotation));

        &,
        &__mask,
        &__outline {
            position: absolute;
            width: 486px;
            height: 256px;
        }

        &__mask,
        &__outline {
            top: 0;
            left: 0;
        }

        &__mask {
            background-color: transparent;
            mask-image: url('../images/opt/projects-left-mask.svg');
            backdrop-filter: blur(var(--blur));
        }

        &__outline {
            background-image: url('../images/opt/projects-left-outline.svg');
            mask-image: linear-gradient(90deg,
                    rgba(0, 0, 0, 0) 20px,
                    rgba(0, 0, 0, 1) 80px);
        }
    }

    .project-layer--dep--hover-hand-right {
        --x-position: 20%;
        --y-position: calc(50% - 150px);
        --rotation: 0;
        right: var(--x-position);
        top: var(--y-position);
        transform: rotate(var(--rotation));


        &,
        &__mask,
        &__outline {
            position: absolute;
            width: 468px;
            height: 300px;
        }

        &__mask,
        &__outline {
            top: 0;
            left: 0;
        }

        &__mask {
            background-color: transparent;
            mask-image: url('../images/opt/projects-right-mask.svg');
            backdrop-filter: blur(var(--blur));
        }

        &__outline {
            background-image: url('../images/opt/projects-right-outline.svg');
            mask-image: linear-gradient(-90deg,
                    rgba(0, 0, 0, 0) 20px,
                    rgba(0, 0, 0, 1) 80px);
        }
    }
}