mixin grave(name)
  .grave-wrapper
    .grave
      .grave__text= name

.graveyard
  h3.caption Отпусти и забудь
  .graveyard-row
    +grave('Классифайд объявлений автомобилей «Гараж»')
    +grave('Интернет-магазин «Блэк Рино Тюнинг»')
    +grave('Айдентика веб-студии «Стекло»')
    +grave('ЦРМ-система «Картон»')
    .graveyard-row__item--empty 
    .grave-wrapper
      .grave
        .grave__image
          .grave__image__yeah
            span.grave__image__yeah--front Ура
            span.grave__image__yeah--back Ура
        .grave__text Продолжаем веселиться, будут и другие!
        canvas#js-grave-particles.grave-particles(width="612", height= "808")