link(rel="mask-icon" href="/static/pin-safari.svg" color="#000000")
link(rel="shortcut icon" href="/favicon.ico")
link(rel="shortcut icon" href="/favicon.svg")
link(rel="apple-touch-icon" href="/static/touch-icon-iphone.png")
link(rel="apple-touch-icon" sizes="76x76" href="/static/touch-icon-ipad.png")
link(rel="apple-touch-icon" sizes="120x120" href="/static/touch-icon-iphone-retina.png")
link(rel="apple-touch-icon" sizes="152x152" href="/static/touch-icon-ipad-retina.png")