header.main-header
    h1.main-header__logo  Дима Крюков
        .main-header__photo-wrapper
            img.main-header__photo(src="/images/src/header-photo.jpg" alt="Фото Димы Крюкова")
    nav.main-header-nav 
        a.main-header-nav__telegram(href="https://t.me/kryukovdesign" target="_blank") Телеграм
        a.main-header-nav__email--big-screen(href="mailto:kryukov-design@yandex.ru") kryukov-design@yandex.ru
        a.main-header-nav__email--small-screen(href="mailto:kryukov-design@yandex.ru") Почта