title Дмитрий Крюков

link(rel="preload" href="css/style.min.css" as="style")
link(rel="preload" href="fonts/twenty-twelves.woff" as="font")
link(rel="preload" href="scripts/script.min.js" as="script")
meta(name="description" content="Продуктовый и информационный дизайнер. Арт-директор в Картоне.")
meta(name="color-scheme" content="dark")
meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
include head-opengraph.pug
include head-favicons.pug
link(rel="stylesheet" href="css/style.min.css")