meta(name="theme-color" content="#000000")
meta(property="og:image" content="/static/opengraph.png")
<meta name="twitter:image" content="/static/opengraph.png">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Дмитрий Крюков">
<meta property="og:description" content="Описание оупенграфа">
<meta property="og:url" content="https://dmitrykryukov.github.io/">