header.main-header
    h1.main-header__logo  Дима Крюков
    nav.main-header-nav 
        a(href="https://t.me/kryukovdesign" target="_blank").main-header-nav__telegram Телеграм
        a(href="mailto:kryukov-design@yandex.ru").main-header-nav__email--big-screen kryukov-design@yandex.ru
        a(href="mailto:kryukov-design@yandex.ru").main-header-nav__email--small-screen Почта