header.main-header
    h1.main-header-logo  Дима Крюков
    nav.main-header-nav 
        a(href="#") Телеграм
        a(href="mailto:kryukov-design@yandex.ru").main-header-nav-email--big-screen kryukov-design@yandex.ru
        a(href="mailto:kryukov-design@yandex.ru").main-header-nav-email--small-screen Почта