//include ../deprecated/projects.pug
.projects
  h3.caption Проекты
  .wrapper
    .project-wide-wrapper
      .project.project--wide.project--cartone
        img#js-cartone__things.project--cartone__layer.project--cartone__layer--0(src="images/opt/projects/cartone/cartone-layer-0.png" alt="")
        img.project--cartone__layer.project--cartone__layer--1(src="images/opt/projects/cartone/cartone-layer-1.png" alt="")   
        .project--cartone__layer.project--cartone__layer--2
          img#js-cartone__instagram-post.project--cartone__layer--2__instagram-post(src="images/opt/projects/cartone/cartone-instagram-post.png" alt="")
      .project--wide__text
        h4.project-title Айдентика, сайт и всякие штуки для рекламного агенства «Картон»
        .project-lead Описание проекта

    .project-row
      .project.project--medium
        .project-image-wrapper
          .project-base-image
            .project-base-image-ratio
        h4.project-name Название проекта
        .project-description Описание проекта
      .project.project--medium
        .project-image-wrapper
          .project-base-image
            .project-base-image-ratio
        h4.project-name Название проекта
        .project-description Описание проекта

    .project-row
      .project.project--small
        .project-image-wrapper
          .project-base-image
            .project-base-image-ratio
        h4.project-name Название проекта
        .project-description Описание проекта
      .project.project--small
        .project-image-wrapper
          .project-base-image
            .project-base-image-ratio
        h4.project-name Название проекта
        .project-description Описание проекта
      .project-row__text
        h4.project-title Специализировался на автотематике
        .project-description 
          p Так сложилось, что последние N лет я разрабатываю сайты, продукты и рекламные материалы для автодилеров.
          p.feature Сделал тут уже миллион всего.
          p Царствие небесное этой прекрасной бизнес-сфере на просторах России.
.graveyard
  h3.caption Отпусти и забудь — кладбище нереализованных проектов
  .graveyard-row
    .grave
      .grave-text Классифайд объявлений автомобилей «Гараж»
    .grave
      .grave-text Интернет-магазин «Блэк Рино Тюнинг»
    .grave
      .grave-text Айдентика веб-студии <br/> «Стекло»
    .grave
      .grave-text ЦРМ <br/> «Картон»
    .grave.grave--empty 
    .grave.grave--another
      .grave-text Продолжаем веселиться, будут и другие!