//include ../deprecated/projects.pug
.projects
  h3.caption Проекты
  .wrapper
    .project.project--wide.project--cartone
      img#js-cartone__things.project--cartone__layer.project--cartone__layer--0(src="images/opt/projects/cartone/cartone-layer-0.png" alt="")
      img.project--cartone__layer.project--cartone__layer--1(src="images/opt/projects/cartone/cartone-layer-1.png" alt="")   
      .project--cartone__layer.project--cartone__layer--2
        img#js-cartone__instagram-post.project--cartone__layer--2__instagram-post(src="images/opt/projects/cartone/cartone-instagram-post.png" alt="")
