extend layout/layout.pug

block content
	.main-grid
		include includes/header.pug

		.promo
			h2.promo__title Проектирую дизайн‑системы, сайты и приложения. Оптимизирую процессы и управляю разработчиками.

		.info
			.info-skills
				h3.caption Навыки
				ul.info-skills-set
					li.info-skills__item Веб-дизайн
					li.info-skills__item UX-дизайн
					li.info-skills__item UI-дизайн
					li.info-skills__item Дизайн-продуктов
					li.info-skills__item Арт-дирекшн
					li.info-skills__item Управление проектами
					li.info-skills__item Брендинг

			.info-works
				h3.caption Опыт работы
				.info-groups
					.info-group
						h4.info-group__caption 2021 – настоящее время
						p.info-group__text Арт-директор — рекламное агентство «Картон»
					.info-group
						h4.info-group__caption 2018 – 2021
						p.info-group__text Старший дизайнер — рекламное агентство «Вебмеханик»
					.info-group
						h4.info-group__caption 2016 – 2018
						p.info-group__text Дизайнер — веб-студия «Машадизайн»
					.info-group
						h4.info-group__caption 2014
						p.info-group__text Дизайнер — стриминговый сервис «Goodgame.ru»

			.info-studies
				h3.caption Образование
				.info-groups
					.info-group
						h4.info-group__caption В процессе
						p.info-group__text Школа дизайнеров — Бюро Горбунова
					.info-group
						h4.info-group__caption 2021
						p.info-group__text Школа менеджеров — Яндекс
					.info-group
						h4.info-group__caption 2020
						p.info-group__text UX-дизайн — Bangbang Education
					.info-group
						h4.info-group__caption 2012 – 2017
						p.info-group__text Прикладная информатика — Астраханский государственный технический университет

		.projects
			h3.caption Проекты
			#js-project-hand.project
				.project-layer.project-layer--idle
					img.project-layer--idle__typo(src="images/opt/projects-placeholder.svg" alt="Скоро покажу работы")
				.project-layer.project-layer--hover
					#js-hand-left.project-layer--hover-hand.project-layer--hover-hand-left
						.project-layer--hover-hand-left__mask
						.project-layer--hover-hand-left__outline
					.project-layer--hover__sun-wrapper
						img.project-layer--hover__sun(src="images/opt/projects-sun.svg" alt="Солнце")
					#js-hand-right.project-layer--hover-hand.project-layer--hover-hand-right
						.project-layer--hover-hand-right__mask
						.project-layer--hover-hand-right__outline


		include includes/footer.pug

block scripts
	script(src='../scripts/script.min.js')