extend layout/layout.pug

block content
	.main-grid
		include includes/header.pug

		.promo
			h2.title Проектирую транспортные схемы, сайты и приложения, системы навигации в общественных местах.

		.info
			.skills
				h3.caption Навыки
				ul.skills-set
					li.skills-item Веб-дизайн
					li.skills-item UX-дизайн
					li.skills-item UI-дизайн
					li.skills-item Дизайн-продуктов
					li.skills-item Арт-дирекшн
					li.skills-item Управление проектами
					li.skills-item Брендинг

			.works
				h3.caption Опыт работы
				.date-groups
					.date-group
						h4.date-group-caption 2021 – настоящее время
						p.date-group-text Арт-директор — рекламное агентство «Картон»
					.date-group
						h4.date-group-caption 2018 – 2021
						p.date-group-text Старший дизайнер — рекламное агентство «Вебмеханик»
					.date-group
						h4.date-group-caption 2016 – 2018
						p.date-group-text Дизайнер — веб-студия «Машадизайн»
					.date-group
						h4.date-group-caption 2014
						p.date-group-text Дизайнер — стриминговый сервис «Goodgame.ru»

			.studies
				h3.caption Образование
				.date-groups
					.date-group
						h4.date-group-caption В процессе
						p.date-group-text Школа дизайнеров — Бюро Горбунова
					.date-group
						h4.date-group-caption 2021
						p.date-group-text Школа менеджеров — Яндекс
					.date-group
						h4.date-group-caption 2020
						p.date-group-text UX-дизайн — Bangbang Education
					.date-group
						h4.date-group-caption 2012 – 2017
						p.date-group-text Прикладная информатика — Астраханский государственный технический университет

		.projects
			h3.caption Проекты
			.project
				.project-idle
					img(src="images/opt/projects-placeholder.svg" alt="Скоро покажу работы").project-idle-typo
				.project-hover
					.project-hover-left
						.project-hover-left-outline
						.project-hover-left-mask
					.project-hover-sun-wrapper
						img.project-hover-sun(src="images/opt/projects-sun.svg" alt="Солнце")
					.project-hover-right
						.project-hover-right-outline
						.project-hover-right-mask


		include includes/footer.pug

block scripts
	script(src='../scripts/script.min.js')