.projects--dep
  h3.caption Проекты
  #js-project-hand.project--dep
    .project-layer--dep.project-layer--dep--idle
      img.project-layer--dep--idle__typo(src="images/opt/projects-placeholder.svg" alt="Скоро покажу работы")
    .project-layer--dep.project-layer--dep--hover
      #js-hand-left.project-layer--dep--hover-hand.project-layer--dep--hover-hand-left
        .project-layer--dep--hover-hand-left__mask
        .project-layer--dep--hover-hand-left__outline
      .project-layer--dep--hover__sun-wrapper
        img.project-layer--dep--hover__sun(src="images/opt/projects-sun.svg" alt="Солнце")
      #js-hand-right.project-layer--dep--hover-hand.project-layer--dep--hover-hand-right
        .project-layer--dep--hover-hand-right__mask
        .project-layer--dep--hover-hand-right__outline